# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.Python
.
# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Editor
.vscode/
*.swp
*.swo
.DS_Store
*.log
**/logs/
# Runtime
*.pyc
